<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to root_path, class:'navbar-brand pe-md-3' do %>
      <%= image_tag("HMC-logo.png", width: 50, class: 'mr-4') %>
      <span style="padding-left: 10px;">Hughes Medical Centre</span>
    <% end %>
    <div class="navbar-nav flex-row order-md-last">
      
    </div>
  </div>
</header>
  
<!--------- Second level navbar -------->  
<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl justify-content-md-center">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="https://3b807202c7554c298ebd3679cf736a2f.vfs.cloud9.us-east-2.amazonaws.com/">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M5 12l-2 0l9 -9l9 9l-2 0m-14 0v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7m-10 9v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                </svg>             
              </span>
              <span class="nav-link-title">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ww.hmtl">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M12 8l.01 0m-8.01 -4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2zm7 6l1 0l0 4l1 0"></path>
                </svg>              
              </span>
              <span class="nav-link-title">
                About
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medicine-syrup" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M8 21h8a1 1 0 0 0 1 -1v-10a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v10a1 1 0 0 0 1 1zm2 -7h4m-2 -2v4m-2 -9v-3a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                GP
              </span>
            </a>
            <div class="dropdown-menu">
              <% Procedure.find_general_procedures.each do |procedure| %>
                <%= link_to procedure.name, procedure_path(procedure), class:'dropdown-item' %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-vaccine" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M17 3l4 4m-2 -2l-4.5 4.5m-3 -3l6 6m-1 -1l-6.5 6.5h-4v-4l6.5 -6.5m-5 5l1.5 1.5m1.5 -4.5l1.5 1.5m-9 10l3 -3"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Vaccinations
              </span>
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Chicken Pox Vaccine', '#', class:'dropdown-item' %>
              <%= link_to 'Flu Vaccine', '#', class:'dropdown-item' %>
              <%= link_to 'Measels Vaccine', '#', class:'dropdown-item' %>
              <%= link_to 'Polio Vaccine', '#', class:'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microscope" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                 <path d="M5 21h14m-13 -3h2m-1 0v3m2 -10l3 3l6 -6l-3 -3zm1.5 1.5l-1.5 1.5m8 -11l3 3m-8 15a6 6 0 0 0 3.715 -10.712"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Tests
              </span>
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Covid-19 Test', '#', class:'dropdown-item' %>
              <%= link_to 'Food Intolerance', '#', class:'dropdown-item' %>
              <%= link_to 'Cancer Testing', '#', class:'dropdown-item' %>
              <%= link_to 'Blood Profiles', '#', class:'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="4" width="6" height="5" rx="2"></rect><rect x="4" y="13" width="6" height="7" rx="2"></rect><rect x="14" y="4" width="6" height="7" rx="2"></rect><rect x="14" y="15" width="6" height="5" rx="2"></rect></svg>
              </span>
              <span class="nav-link-title">
                Surgery
              </span>
             </span>
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Breast Augmentation', '#', class:'dropdown-item' %>
              <%= link_to 'Facelift', '#', class:'dropdown-item' %>
              <%= link_to 'Neck Rejuvenation', '#', class:'dropdown-item' %>
              <%= link_to 'Labiaplasty', '#', class:'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wand" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M6 21l15 -15l-3 -3l-15 15l3 3m9 -15l3 3m-9 -6a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2m10 10a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Specialist
              </span>
             </span>
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Surgical Arts', '#', class:'dropdown-item' %>
              <%= link_to 'Eye Examination', '#', class:'dropdown-item' %>
              <%= link_to 'ENT Specialist', '#', class:'dropdown-item' %>
              <%= link_to 'Dermatology', '#', class:'dropdown-item' %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>