<%= simple_form_for(@result) do |f| %>

  <div class="form-inputs">
    <%= f.input :result_date %>
    <%= f.input :result_outcome %>
    <%= f.input :comments %>
    <%= f.input :appointment_id, as: :hidden, :input_html => { :value => params[:appointment_id] } %>
    
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit %>
  </div>
<% end %>
