<div class="container">
    <div class="row row-deck row-cards my-4">
      <div class="col-lg-6">
        <div class="card p-4">
          <%= render 'shared/page_header', pre_title: "Welcome, #{current_user.first_name}", title: "Dashboard" %>
          <p  class="text-primary mt-1"><%= format_date(Date.today) %></p>
          
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="text-white avatar" style="background-color: #003F5D"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                  <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                  <path d="M15 3v4"></path>
                  <path d="M7 3v4"></path>
                  <path d="M3 11h16"></path>
                  <path d="M18 16.496v1.504l1 1"></path>
                </svg>
              </span>
            </div>
            <div class="col">
              <div class="font-weight-medium">
                <%= Appointment.all.active.count %>
                <!--- Need to make these active appointments -->
              </div>
              <div class="text-muted">
                Total Appointments
              </div>
            </div>
          </div>
          
          <hr>
          
          <div class="row row-cards">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-auto">
                  <span class="text-white avatar" style="background-color: #004987"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medicine-syrup" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M8 21h8a1 1 0 0 0 1 -1v-10a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v10a1 1 0 0 0 1 1z"></path>
                      <path d="M10 14h4"></path>
                      <path d="M12 12v4"></path>
                      <path d="M10 7v-3a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3"></path>
                    </svg>                  
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Appointment.type_count('General') %>
                  </div>
                  <div class="text-muted">
                    General Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="text-white avatar" style="background-color: #004F92"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M4 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                      <path d="M4 13m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                      <path d="M14 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                      <path d="M14 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Appointment.type_count('Surgery') %>
                  </div>
                  <div class="text-muted">
                    Surgery Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="text-white avatar" style="background-color: #00569D"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microscope" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 21h14"></path>
                      <path d="M6 18h2"></path>
                      <path d="M7 18v3"></path>
                      <path d="M9 11l3 3l6 -6l-3 -3z"></path>
                      <path d="M10.5 12.5l-1.5 1.5"></path>
                      <path d="M17 3l3 3"></path>
                      <path d="M12 21a6 6 0 0 0 3.715 -10.712"></path>
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Appointment.type_count('Test') %>
                  </div>
                  <div class="text-muted">
                    Test Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="text-white avatar" style="background-color: #006DB2"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-vaccine" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M17 3l4 4"></path>
                      <path d="M19 5l-4.5 4.5"></path>
                      <path d="M11.5 6.5l6 6"></path>
                      <path d="M16.5 11.5l-6.5 6.5h-4v-4l6.5 -6.5"></path>
                      <path d="M7.5 12.5l1.5 1.5"></path>
                      <path d="M10.5 9.5l1.5 1.5"></path>
                      <path d="M3 21l3 -3"></path>
                    </svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Appointment.type_count('Vaccination') %>
                  </div>
                  <div class="text-muted">
                    Vaccination Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="text-white avatar" style="background-color: #4E97D1"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wand" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6 21l15 -15l-3 -3l-15 15l3 3"></path>
                      <path d="M15 6l3 3"></path>
                      <path d="M9 3a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
                      <path d="M19 13a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
                    </svg>                
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Appointment.type_count('Specialist') %>
                  </div>
                  <div class="text-muted">
                    Specialist Appointments
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      
    <div class="col-lg-6">
      <div class="card p-4">
        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
          <h1> Recent Appointments</h1>
          <p  class="text-primary mt-1">Showing recent appointments</p>
            
        <div class="table-responsive">
          <table class="table table-sm table-borderless card-table table-vcenter text-nowrap datatable">
            <thead>
              <tr>
                <th>Appointment No.</th>
                <th>Booked</th>
                <th>Name</th>
                <th>Date</th>
                <th>Procedure</th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.doctor? %>
                <% current_user.appointments.active.last(10).reverse.each do |appointment| %>
                <tr>
                  <td><%= link_to appointment.appointment_number, appointment_path(appointment) %> </td>
                  <td><%= format_date(appointment.created_at) %> </td>
                  <td><%=appointment.first_name + ' ' + appointment.last_name %> </td>
                  <td><%= format_date(appointment.date) %> </td>
                  <td><%=appointment.procedure.name %> </td>
                </tr>
                <% end %>
              <% else %>
                <% Appointment.active.last(10).reverse.each do |appointment| %>
                <tr>
                  <td><%= link_to appointment.appointment_number, appointment_path(appointment) %> </td>
                  <td><%= format_date(appointment.created_at) %> </td>
                  <td><%=appointment.first_name + ' ' + appointment.last_name %> </td>
                  <td><%= format_date(appointment.date) %> </td>
                  <td><%=appointment.procedure.name %> </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
            <%= link_to "All appointments", appointments_path, class:'btn btn-primary mt-4' %>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
