<div class="container">
    <div class="row row-deck row-cards my-4">
      
      
      <div class="col-lg-6">
        <div class="card p-4">
          <h1> Appointments</h1>
          <p  class="text-primary mt-1"><%= format_date(Date.today) %></p>
          
          <div class="row align-items-center mt-4">
            <div class="col-auto">
              <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>
              </span>
            </div>
            <div class="col">
              <div class="font-weight-medium">
                <%= Appointment.all.active.count %>
                <!--- Need to make these active appointments -->
              </div>
              <div class="text-muted">
                Total Appointments
              </div>
            </div>
          </div>
          
          <hr>
          
          <div class="row row-cards">
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Procedure.where(procedure_type: 0).count %>
                  </div>
                  <div class="text-muted">
                    General Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Procedure.where(procedure_type: 1).count %>
                  </div>
                  <div class="text-muted">
                    Surgery Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-twitter text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Procedure.where(procedure_type: 2).count %>
                  </div>
                  <div class="text-muted">
                    Test Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-facebook text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Procedure.where(procedure_type: 3).count %>
                  </div>
                  <div class="text-muted">
                    Vaccination Appointments
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-facebook text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    <%= Procedure.where(procedure_type: 4).count %>
                  </div>
                  <div class="text-muted">
                    Specialist Appointments
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      
    <div class="col-lg-6">
      <div class="card p-4">
        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
          <h1> Recent Appointments</h1>
          <p  class="text-primary mt-1">Showing recent appointments</p>
            
        <div class="table-responsive">
          <table class="table table-sm table-borderless card-table table-vcenter text-nowrap datatable">
            <thead>
              <tr>
                <th>Appointment No.</th>
                <th>Booked</th>
                <th>Name</th>
                <th>Date</th>
                <th>Procedure</th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.doctor? %>
                <% current_user.appointments.active.last(5).reverse.each do |appointment| %>
                <tr>
                  <td><%= link_to appointment.appointment_number, appointment_path(appointment) %> </td>
                  <td><%= format_date(appointment.created_at) %> </td>
                  <td><%=appointment.first_name + ' ' + appointment.last_name %> </td>
                  <td><%= format_date(appointment.date) %> </td>
                  <td><%=appointment.procedure.name %> </td>
                </tr>
                <% end %>
              <% else %>
                <% Appointment.active.last(5).reverse.each do |appointment| %>
                <tr>
                  <td><%= link_to appointment.appointment_number, appointment_path(appointment) %> </td>
                  <td><%= format_date(appointment.created_at) %> </td>
                  <td><%=appointment.first_name + ' ' + appointment.last_name %> </td>
                  <td><%= format_date(appointment.date) %> </td>
                  <td><%=appointment.procedure.name %> </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
            <%= link_to "All appointments", appointments_path, class:'btn btn-primary mt-4' %>
        </div>
      </div>
      
      
    </div>
  </div>
</div>