<div class="justify-content-end text-left">
  <div class="jumbotron bg-overlay">
    <div class="row d-flex">
      <div class="col-lg-6 mt-4" style="padding-left:4em" >
        <div class="glass-card">
          <h1 class="page-heading-bold">Hughes</h1>
          <h1 class="page-heading-bold my-3 blue-text">Medical Centre</h1>
          
          <p class="mb-0">Welcome to Hughes Medical Centre, a private healthcare clinic with a wide range of services
          and compassionate providers. Our services range from cosmetic and reconstructive surgeries, to ambulatory care and 
          counselling.</p>
          <div class="col-auto justify-content-center">
            <%= link_to 'Book GP Appointment', new_appointment_path(procedure_id: 9), class:"btn accent-bg white-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row d-flex justify-content-center welcome-neg-top mb-4"> <!--- Features card row -->
    <div class="col-md-3 my-auto p-0">
      <div class="card d-flex welcome-card blue-light-bg">
        <div class="card-body align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
            <path d="M16 3l0 4"></path>
            <path d="M8 3l0 4"></path>
            <path d="M4 11l16 0"></path>
            <path d="M10 16l4 0"></path>
            <path d="M12 14l0 4"></path>
          </svg>
          <h1> Appointments </h1>
          <p> Browse our catalog of service offerings, including routine checkups, various tests and screening. We specialize 
          in surgeries, which include cosmetic and reconstructive surgeries. Our staff are always there to help.</p>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-3 my-auto p-0">
      <div class="card d-flex welcome-card blue-mid-bg">
        <div class="card-body align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cash" width="150%" height="150%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
            <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2"></path>
          </svg>
          <h1> Insurance Options </h1>
          <p>We are proud to partner with major insurance providers on island to ensure that healthcare is more accessible for everyone.
          Insurance policies we accept include Alliance,  Redbridge, Nagico and others.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3 my-auto p-0">
      <div class="card d-flex welcome-card blue-darker-bg">
        <div class="card-body align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-hour-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            <path d="M12 12h3.5"></path>
            <path d="M12 7v5"></path>
          </svg>
          <h1> Opening Hours </h1>
          <p>We are proud to partner with major insurance providers on island to ensure that healthcare is more accessible for everyone.
          Insurance policies we accept include Alliance,  Redbridge, Nagico and others.</p>
        </div>
      </div>
    </div>
    
  </div><br><br> <!--- end of card row --->
  
<div class="container-xl">
  <h1 class='display-6 fw-bold'>Our Services</h1>

  <div class="row row-deck row-cards page-section pt-0">
    <div class="col-sm-6 col-lg-4">
      <div class="card service-card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class='peach-underline'>Privtate GP Services</h2>
          <p class="card-text py-3">A Pay-As-You-Go same day GP service offering a range of consultations, vaccines and tests for you and your family.</p>
        </div>
        <%= link_to gp_path, class:'card-footer accent-bg text-center' do %>
          <span class='white-text text-center'>Discover our Private Services</span>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
      <div class="card service-card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1582719367079-bc1b8e5fed9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class='peach-underline'>Tests & Diagnostics</h2>
          <p class="card-text py-3">Midland Health offers all Pathology, Radiology and Diagnostics that you may require to help manage your condition.</p>
        </div>
        <%= link_to '#', class:'card-footer accent-bg text-center' do %>
          <span class='white-text text-center'>See our Testing & Diagnostics</span>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
      <div class="card service-card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1631941618536-2979d565b726?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class='peach-underline'>Vaccinations</h2>
          <p class="card-text py-3">Our competent practitioners at our Private Vaccination Clinic have experience of working with adults and children, and we offer childhood immunisations as well as adult vaccinations for travel.</p>
        </div>
        <%= link_to '#', class:'card-footer accent-bg text-center' do %>
          <span class='white-text text-center'>See our Vaccination Services</span>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
      <div class="card service-card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1516549655169-df83a0774514?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class='peach-underline'>Surgery </h2>
          <p class="card-text py-3">Midland Health provides a number of health check packages to suit a wide range of needs. Our experienced GP’s will provide lifestyle guidance and comprehensive healthcare advice, followed by a report.</p>
        </div>
        <%= link_to '#', class:'card-footer accent-bg text-center' do %>
          <span class='white-text text-center'>Discover our Surgery Services</span>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
      <div class="card service-card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body ">
          <h2 class='peach-underline'>Specialist Services </h2>
          <p class="card-text py-3">Midland Health provides specialist services for health needs at various life stages. Our experts will guide you whether your concern is about illness or employment/work medicals and travel.</p>
        </div>
        <%= link_to '#', class:'card-footer accent-bg text-center' do %>
          <span class='white-text text-center'>Get Specialized Help</span>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
      <div class="card service-card rounded-corner" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class='peach-underline'>Contact Us </h2>
          <p class="card-text py-3">When visiting our clinic, please observe the national health and safety protocols and The following process.</p>
        </div>
        <%= link_to '#', class:'card-footer accent-bg text-center' do %>
          <span class='white-text text-center'>See our Details</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
