<tbody>
  <% current_user.appointments.each do |appointment| %>
    <tr>
      <td><%=appointment.created_at.strftime("%Y-%m-%d %H:%M") %> </td>
      <td><%=appointment.appointment_number %> </td>
      <td><%=appointment.first_name %> </td>
      <td><%=appointment.last_name %> </td>
      <td><%=appointment.date %> </td>
      <td><%=appointment.time.strftime("%H:%M") %> </td>
      <% if appointment.procedure %>
        <td><%=appointment.procedure.name %> </td>
      <% else %>
        <td></td>
      <% end %>
      <td> 
        <% if appointment.user %>
          <%= appointment.user.name %>
        <% else %>
          <%= link_to 'Assign Doctor', assign_doctor_appointment_path(appointment), class:'badge bg-danger' %>
        <% end %>
      </td>
      <td class="text-end">
        <span class="dropdown">
          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to 'View', appointment_path(appointment), class:'dropdown-item' %>
            <%= link_to 'Edit', edit_appointment_path(appointment), class:'dropdown-item' %>
            <% if !appointment.user %>
              <%= link_to 'Assign Doctor', assign_doctor_appointment_path(appointment), class:'dropdown-item' %>
            <% end %>
            <% if current_user.doctor? %>
              <% if appointment.result %>
                <%= link_to 'Edit Results', edit_result_path(appointment.result, appointment_id: appointment), class:'dropdown-item' %>
              <% else %>
                <%= link_to 'Add Results', new_result_path(appointment_id: appointment), class:'dropdown-item' %>
              <% end %>
            <% end %>
          </div>
        </span>
      </td>
    </tr>
  <% end %>
</tbody>