<div class="container">
    <div class="row justify-content-md-center mt-4">
      <div class="col col-lg-10">
        <div class="card">
          <div class="card-header">
            <h3 class="display-6">Appointment: <%= @appointment.appointment_number %></h3>
          </div>
          <div class="card-body">
            <h2> Patient Information </h2>
            <div class="row ">
              <div class="col-sm">  
                <b><p> First name:</p></b>
                <p class="text-muted"><%= @appointment.first_name %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Last name:</p></b>
                <p class="text-muted"><%= @appointment.last_name %></p>
              </div>
            </div>
            
            <div class="row ">
              <div class="col-sm">  
                <b><p> Gender:</p></b>
                <p class="text-muted"><%= @appointment.gender %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Date of birth:</p></b>
                <p class="text-muted"><%= @appointment.date_of_birth %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Email:</p></b>
                <p class="text-muted"><%= @appointment.email %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Phone:</p></b>
                <p class="text-muted"><%= @appointment.phone %></p>
              </div>
            </div>
            
            <h2> Appointment Information </h2>
            <div class="row ">
              <div class="col-sm">  
                <b><p> Apointment date:</p></b>
                <p class="text-muted"><%= @appointment.date.strftime("%Y-%m-%d") %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Apointment time:</p></b>
                <p class="text-muted"><%= @appointment.time.strftime("%H:%M") %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Procedure:</p></b>
                <p class="text-muted"><%= @appointment.procedure.name %></p>
              </div>
              
              <div class="col-sm">  
                <b><p> Created at:</p></b>
                <p class="text-muted"><%= @appointment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              </div>
              
              <% if @appointment.user %>
                <div class="col-sm">  
                  <b><p> Doctor:</p></b>
                  <p class="text-muted"><%= @appointment.user.name %></p>
                </div>
              <% end %>
            </div>
            
            <% if @appointment.result %>
              <h2> Result Information </h2>
              <div class="row ">
                <div class="col-sm">  
                  <b><p> Result date:</p></b>
                  <p class="text-muted"><%= @appointment.result.result_date.strftime("%Y-%m-%d") %></p>
                </div>
                
                <div class="col-sm">  
                  <b><p> Results Outcome:</p></b>
                  <p class="text-muted"><%= @appointment.result.result_outcome %></p>
                </div>
                
                <div class="col-sm">  
                  <b><p> Comments:</p></b>
                  <p class="text-muted"><%= @appointment.result.comments %></p>
                </div>
              </div>
            <% end %>
          </div>
          
          <!-- Card footer -->
        <div class="card-footer">
          <div class="row align-items-center">
            <div class="col-auto">
              <%= link_to 'Edit Appointment Details', edit_appointment_path(@appointment) %>
            </div>
            
            <% if !@appointment.user %>
              <div class="col-auto">
                <%= link_to 'Assign Doctor', assign_doctor_appointment_path(@appointment) %>
              </div>
            <% end %>
            
            <% if !@appointment.result%>
              <div class="col-auto">
                <%= link_to 'Add Results', new_result_path(appointment_id: @appointment) %>
              </div>
            <% else %>
              <div class="col-auto">
                <%= link_to 'Edit Results', edit_result_path(@appointment.result, appointment_id: @appointment) %>
              </div>
            <% end %>
            
            <div class="col-auto">
              <%= link_to 'Delete Appointment', appointment_path(@appointment, method: :delete, data:{confirm: "Are you sure?"}),  class:'text-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
