<%= simple_form_for(timeslot) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if timeslot.new_record? %>
      <%= f.input :day, :collection => Timeslot.days.keys - @procedure.timeslots.pluck(:day).compact.uniq %>
    <% end %>
   
    
    <%= f.input :start_time, as: :time %>

    <%= f.input :procedure_id, as: :hidden, :input_html => { :value => @procedure.id} %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit %>
  </div>
<% end %>
